* {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
}

#top-bar {
  position: fixed;
  width: 100%;
  height: 64px;
  background: #eee6;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 6px 3px #0004;
}

#top-bar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fffb;
  z-index: -1;
  filter: blur(20px);
}

.logo {
  display: inline-block;
  width: 140px;
  margin-left: 16px;
  align-self: center;
}

#page-title {
  align-self: center;
  font-size: 24px;
}

#search-bar {
  align-self: center;
  margin: 24px;
  padding: 0 12px;
  height: 32px;
  background-color: #444;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 16px;
}

#search-box {
  font-size: 16px;
  width: 96px;
  color: #eee;
  border: 0;
  background-color: transparent;
  outline: none;
}

#search-button {
  height: 32px;
  width: 32px;
  border: 0;
  color: transparent;
  background-color: transparent;
  background-image: url(./search.svg);
  cursor: pointer;
}

#side-bar {
  position: fixed;
  top: 64px;
  width: 180px;
  height: calc(100vh - 64px);
  text-align: center;
  background: #eee;
  color: #666;
}

#side-bar h2 {
  font-size: 16px;
  margin-top: 30px;
  color: #222;
  font-weight: bold;
}

#side-bar hr {
  width: 80%;
  border: none;
  border-top: 1px #ccc dashed;
  margin: 12px auto;
}

#side-bar li {
  width: 80px;
  font-size: 16px;
  margin: 12px auto;
  padding: 4px;
  border-radius: 2px;
  transition: 200ms;
  background-color: #ddd;
}

.selected {
  background-color: #ccc;
  color: #222;
  font-weight: bold;
}

.selected-icon {
  color: #c00;
}

#side-bar li:hover {
  background-color: #bbb;
}

#side-bar li:active {
  background-color: #aaa;
}

#side-bar p {
  font-size: 12px;
  margin-top: 20px;
  position: relative;
}

#side-bar select {
  font-size: 12px;
}

#side-bar option {
  font-size: 12px;
}

#gallery {
  position: absolute;
  left: 180px;
  top: 0;
  padding-top: 80px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: linear-gradient(90deg,#eee, #aaa);
  color: #444;
}

.movie-tile {
  position: relative;
  margin: 20px;
  width: 200px;
  height: 360px;
  text-align: center;
}

.movie-tile img {
  box-shadow: 1px 1px 2px 1px #0004;
}

.rating-tag {
  z-index: 2;
  display: inline-block;
  position: absolute;
  margin: 4px;
  padding: 4px;
  background: #000b;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  bottom: 60px;
  right: 0;
  width: 80px;
}

.brief-box {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  background-color: #222a;
  opacity: 0;
  transition: opacity ease 250ms;
  text-align: left;
  font-size: 12px;
  color: white;
}

.brief-box:hover {
  opacity: 1;
}

.brief-box ul,
.brief-box li {
  list-style: none;
  padding: 0;
  margin: 8px;
}

.brief-box ul {
  margin: auto;
  padding: 8px;
}

.brief-box p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  word-break: break-all;
  line-height: 14px;
}

.details-button {
  display: block;
  margin: 0 auto;
  padding: 2px;
  width: 80px;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  background-color: #222;
  cursor: pointer;
}


.details-button:hover {
  background-color: #444;
}

.details-button:active {
  background-color: #888;
}

.movie-tile h3 {
  margin: 8px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px #6666;
}


