body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #222;
  background: linear-gradient(90deg,#eee, #bbb);
}

a {
  text-decoration: none;
  color: #222;
  transition: color 200ms;
}

a:hover {
  color: #666;
}

a:active {
  color: #888;
}

.details-subtitle {
  color: white;
  background-color: gray;
  padding: 5px;
  border-radius: 3px;
}

#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background: #eeeeee66;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
}

#top-bar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
  filter: blur(20px);
}

.logo {
  display: inline-block;
  width: 140px;
  margin-left: 16px;
  align-self: center;
}

#page-title {
  align-self: center;
  font-size: 24px;
}

#search-bar {
  align-self: center;
  margin: 24px;
  padding: 0 12px;
  height: 32px;
  background-color: #444;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 16px;

}

#search-box {
  font-size: 16px;
  width: 96px;
  color: #eee;
  border: 0;
  background-color: transparent;
  outline: none;
}

#search-button {
  height: 32px;
  width: 32px;
  border: 0;
  color: transparent;
  background-color: transparent;
  background-image: url(./search.svg);
  cursor: pointer;
}

#main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px 90px
}

.search-div {
  display: flex;
  margin: 20px 0;
}

.search-div img {
  margin-right: 20px;
  width: 180px;
  height: 240px;
}

.search-info {
  display: flex;
  flex-direction: column;
}
.search-info span{
 margin: 6px;
}
.info-title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}

.search-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#search-fail {
  display: flex;
}

#search-fail img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

#search-fail p {
  font-size: 30px;
  margin: 0;
}